.weather-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin: 0 auto;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.detail-label {
  font-weight: bold;
}

.weather-description {
  font-weight: normal;
}

.temperature {
  font-weight: normal;
}

.humidity {
  font-weight: normal;
}

.wind-speed {
  font-weight: normal;
}

.weather-icon img {
  width: 70px;
  height: 70px;
}

.weather-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.weather-details p {
  margin-bottom: 10px;
}

/* Loading spinner */
.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  z-index: 9999; /* ensure spinner is on top of other elements */
}

.spinner {
  border: 2px solid #ccc;
  border-top-color: #333;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
