@import "src/colors";

.error-alert {
  padding: 1rem;
  color: $error-color;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  border: 1px solid $error-border-color;
  background-color: $error-background-color;
}
