<app-error-alert
  *ngIf="errorMessage"
  [message]="errorMessage"
></app-error-alert>

<div
  class="weather-widget"
  *ngIf="weather$ | async as weatherData; else loading"
>
  <h2>Current Weather in {{ weatherData.name }}</h2>
  <div class="weather-info">
    <!-- Weather Icon -->
    <div class="weather-icon" *ngIf="weatherData.weather[0]">
      <img
        src="{{ openWeatherMapBaseImageUrl + weatherData.weather[0].icon }}.png"
        alt="weather icon"
      />
    </div>

    <div class="weather-details">
      <p>
        <span class="detail-label">Weather: </span>
        <span class="weather-description" *ngIf="weatherData.weather[0]">{{
          weatherData.weather[0].description | titlecase
        }}</span>
      </p>
      <p>
        <span class="detail-label">Temperature: </span>
        <span class="temperature">{{ weatherData.main.temp }}°C</span>
      </p>
      <p>
        <span class="detail-label">Humidity: </span>
        <span class="humidity">{{ weatherData.main.humidity }}%</span>
      </p>
      <p>
        <span class="detail-label">Wind Speed: </span>
        <span class="wind-speed">{{ weatherData.wind.speed }} m/s</span>
      </p>
      <p>
        <a routerLink="four-days">View weather for upcoming days</a>
      </p>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
</ng-template>
