<app-error-alert
  *ngIf="errorMessage"
  [message]="errorMessage"
></app-error-alert>

<div
  class="forecast"
  *ngIf="weatherForecast$ | async as weatherForecast; else loading"
>
  <h2 class="title">{{ weatherForecast.length }}-Day Weather Forecast</h2>
  <ul class="list">
    <li
      *ngFor="let forecast of weatherForecast"
      class="item"
      (click)="onForecastItemClick(forecast)"
    >
      <app-forecast-weather-widget
        [forecast]="forecast"
      ></app-forecast-weather-widget>
    </li>
  </ul>
</div>

<ng-template #loading>
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
</ng-template>
